@font-face {
  font-family: "Samim";
  src: url("Samim.eot");
  src: url("Samim.eot?#iefix") format("embedded-opentype"),
    url("Samim.woff2") format("woff2"), url("Samim.woff") format("woff"),
    url("Samim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
html {
  font-family: "Samim";
  direction: rtl;
}
